# Top-most EditorConfig file
root = true

# Set the default charset
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 4

# Indentation settings
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Flutter specific settings
[*.dart]
max_line_length = 80
